@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #d4d3d8;
    margin: 0;
}
header{
    background-color: #562EFF;
}
.navbar{
    position: relative;
    left: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
    width: 870px;
}

.logo{
    display: flex;
    padding: 10px;
}
.logo img{
    width: 40.42px;
    height: 51px;
}
.nav-section{
    display: flex;
}
.nav-section ul{
    display: flex;

}
.nav-section img{
    margin-top: 8px;
    width: 51px;
    height: 51px;
}
.nav-section ul li{
    list-style: none;
    color: white;
    margin-right:35px ;
}
.container{
    background-color: white;
    width: 870px;
    height: 679px;
    padding: 40px;
    margin-bottom: 21px;
    border-radius: 10px;
}
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: rgb(64, 64, 228);
    margin-top: 0;
}
main{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 29px;
}
.player{
    display: flex;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    position: relative;
    bottom: 7px;
}
hr{
    margin-bottom: 30px;
}
/* -----------------------
   top blogs styles 
---------------------*/
.blogs{
    margin-top: 35px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-title{
    margin-bottom: 0;
}
.blog-info{
    margin-left: 16px;
}
.blog-info p{
    margin-top: 7px;

}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 70px;
}
/* --------------------------
  second containers styles
--------------------------- */
.second-container{
    background-color: white;
    width: 870px;
    height: 362px;
    padding: 40px;
    border-radius: 10px;
}
.course-thumbnail{
    padding: 20px;
    width: 230px;
    height: 280px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow:5px 10px 10px rgba(128, 128, 128, 0.564) ;

}
.courses{
    display: flex;
    justify-content: space-between;

}
.course-thumbnail img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    
}
.fa-star.filled{
    color: orange;
    font-size: 12px;
}
.fa-star.empty{
    color: rgb(201, 200, 199);
    font-size: 12px;
}
.course-duration{
    position: relative;
    left: 30px;
}
/*--------------------
    Media Queries 
 -------------------*/
 /*------------------
  For mobile devices
  ------------------ */
  @media only screen and (max-width:688px) {
    .container{
        width: 100%;
        height:100%;
        margin-left: 20px;
    }
    .section-title{
        margin-left: 10px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .player{
        flex-direction: column;
        align-items: center;
    }
    
    .blogs{
        grid-template-columns:repeat(1, 1fr) ;
    }
    .second-container{
        width: 100%;
        height: 100%;
    }
    .courses{
        flex-direction: column;
        align-items: center;
    }
    .course-thumbnail{
      
        margin-bottom: 20px;
    }
  }
/*---------------------
    For tablets
------------------ */
@media only screen and (min-width:688px) and (max-width:992px)  {
    .container{
        width: 100%;
    }
    .players{
        
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .second-container{
        width: 100%;
        height: 100%;
    }
}









